body, html {
    overflow: auto;
    touch-action: none;
    overscroll-behavior: none;
    height: 100%;
    margin: 0;
    background-color: black;
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    overflow-y: hidden;
}

#videoHolder {
    --controlsOpacity: 0;
    --playPause: 0;
    height: fit-content;
    isolation: isolate;
    position: relative;
    width: 90%;
    margin: 0;
    user-select: none;
    margin: auto;
    
    display: flex;
    align-items: center;
}

#video {
    height: auto;
    width: 100%;
}

.videoControls {
    position: absolute;
    opacity: var(--controlsOpacity);
    transition: opacity 0.35s;
    background: none;
    filter: brightness(0);
    filter: invert(1);
}

#fastForward {
    width: 12%;
    right: 15%;
}

#rewind {
    width: 12%;
    left: 15%;
}

#playPause {
    width: 12%;
    left: 44%
}

#timeline {
    border-radius: 0%;
    --videoPercent: 0%;
    width: 100%;
    height: 2%;
    vertical-align: auto;
    place-self: end center;
    opacity: var(--controlsOpacity);
    background: linear-gradient(to right,
            black var(--videoPercent),
            white var(--videoPercent));
}

#timelineDrag {
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    place-self: end;
    left: 0%;
    /* position the dragger so it lines up properly with the timeline */
    transform: translate(-50%, 1vw);
    opacity: var(--controlsOpacity);
    transition: opacity 0.35s;
    background: black;
}

/* mobile */
@media only screen and (min-width: 768px) {
#fastForward {
    width: 3%;
    top: 90%;
    left: 15%;
}

#rewind {
    width: 3%;
    top: 90%;
    left: 3%;
}

#playPause {
    width: 3%;
    top: 90%;
    left: 9%;
}

    #timeline {
        width: 100%;
        height: 1%;
    }

    #timelineDrag {
        position: absolute;
        width: 1.5vw;
        height: 1.5vw;
        /* position the dragger so it lines up properly with the timeline */
        transform: translate(-50%, 0.475vw);
        opacity: calc(1 * calc(var(--controlsOpacity) * 2));
    }
    
}